body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #cacaca;
}
#container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#container img {
  max-width: 400px;
  border: 2px solid #000;
  border-radius: 8px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
button img {
  width: 40px;
}
